@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "ContactsPool | Contacts";
}

<div class="bg-light p-3 mb-3">

    <form action="/" method="GET">
        <div class="row">

            <div class="col">
                <select class="form-select border-success" name="searchBy">
                    @foreach(var field in ViewBag.SelectInputFields)
                    {
                        @if(field.Key == ViewBag.CurrentSearchBy)
                        {
                            <option selected value="@field.Key"> @field.Value </option>
                        } else
                        {
                            <option value="@field.Key"> @field.Value </option>
                        }
                    }
                </select>
            </div>

            <div class="col">
                <input type="text" class="form-control border-success"  placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString">
            </div>

            <div class="col">
                <button class="btn btn-success me-3">Search</button>
                <button class="btn btn-outline-success">Clear</button>
            </div>

        </div>

    </form>
</div>

<table class="table table-striped-columns table-bordered table-dark table-hover table-condensed text-center">
    <thead class="table-success">
        <tr>
            @if (ViewBag.CurrentSortBy == nameof(PersonResponse.PersonName) && ViewBag.CurrentSortOrder == nameof(SortOrderOptions.ASC))
            {
                <th scope="col">
                    <a href="~/contacts?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.DESC)">Person Name</a>
                </th>
            } else
            {
                <th scope="col">
                    <a href="~/contacts?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.ASC)">Person Name</a>
                </th>
            }

            
            <th scope="col">Email</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Country</th>
            <th scope="col">Address</th>
            <th scope="col">Receive Newsletter</th>
        </tr>
    </thead>
    <tbody>
        @foreach(PersonResponse person in Model)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsletter</td>
            </tr>   
        }
    </tbody>
</table>
