@model IEnumerable<PersonResponse>

@{
    ViewBag.Title = "ContactsPool | Contacts";
}

<div class="bg-light p-3 mb-3">

    <form action="/" method="GET">
        <div class="row">

            <div class="col">
                <select class="form-select border-success" name="searchBy">
                    @foreach(var field in ViewBag.SelectInputFields)
                    {
                        @if(field.Key == ViewBag.CurrentSearchBy)
                        {
                            <option selected value="@field.Key"> @field.Value </option>
                        } else
                        {
                            <option value="@field.Key"> @field.Value </option>
                        }
                    }
                </select>
            </div>

            <div class="col">
                <input type="text" class="form-control border-success"  placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString">
            </div>

            <div class="col">
                <button class="btn btn-success me-3">Search</button>
                <button class="btn btn-outline-success">Clear</button>
            </div>

        </div>

    </form>
</div>

<table class="table table-striped-columns table-bordered table-dark table-hover table-condensed text-center">
    <thead class="table-light">
        <tr>

            @* Local function to generate VIEW DATA for the Table Header Partial View *@
            @{
                ViewDataDictionary GetViewData(string columnType, string columnName)
                {
                    return new ViewDataDictionary(ViewData)
                    {
                         {"ColumnType", columnType },
                         {"ColumnName", columnName }
                    };
                }
            }

            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.PersonName), "Person Name")"></Partial>

            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.Email), "Email")"></Partial>

            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.DateOfBirth), "Date of Birth")"></Partial>

            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.Age), "Age")"></Partial>

            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.Gender), "Gender")"></Partial>
       
            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.Country), "Country")"></Partial>
      
            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.Address), "Address")"></Partial>

            <Partial name="_TableHeaderLinkPartialView" view-data="@GetViewData(nameof(PersonResponse.ReceiveNewsletter), "Receive Newsletter")"></Partial>
        </tr>
    </thead>
    <tbody>
        @foreach(PersonResponse person in Model)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsletter</td>
            </tr>   
        }
    </tbody>
</table>
